name: Keep My HF Sites Live

# Run every 30 minutes
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: # optional manual trigger

jobs:
  curl_urls:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Curl URLs (HEAD requests)
      run: |
        # Define URLs to curl
        URLS=(
          "https://mishrabp-chatbot-app.hf.space"
          "https://mishrabp-deep-research.hf.space"
          "https://mishrabp-travel-agent.hf.space"
          "https://mishrabp-trip-advisor-api.hf.space/"
          "https://mishrabp-trip-advisor-app.hf.space/"
          "https://mishrabp-northwind.hf.space"
        )

        # Loop through URLs and send HEAD requests
        for url in "${URLS[@]}"; do
          echo "HEAD request to $url ..."
          response=$(curl -s -I -w "\nHTTP_STATUS:%{http_code}" "$url")
          echo "$response"
          echo "----------------------------"
        done
